body {
  font-family: "Recursive", sans-serif;
  background-color: #ffec3b;
}
#container {
  width: 1000px;
  height: 580px;
  margin: 20px auto;
}
#calculator {
  width: 380px;
  height: 580px;
  background-color: #eaedef;
  margin: 0 auto;
  top: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 7px 8px 20px 8px #796f73a8, -2px -5px 20px 0px #796f73a8;
}
#result {
  height: 120px;
}
#history {
  text-align: right;
  height: 20px;
  margin: 0 25px;
  padding-top: 20px;
  font-size: 20px;
  color: #919191;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 25px;
  font-size: 30px;
}
#keyboard {
  height: 400px;
}
.operator,
.number,
.empty {
  width: 59px;
  height: 59px;
  margin: 17px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 25px;
}
.number,
.empty {
  background-color: #eaedef;
}
.number,
.operator {
  cursor: pointer;
}
.operator:active,
.number:active {
  font-size: 30px;
}
.operator:focus,
.number:focus,
.empty:focus {
  outline: 2px;
}
.operator:hover,
.number:hover,
.empty:hover {
  background-color: rgb(255, 77, 166);
}
button:nth-child(17):hover,
button:nth-child(19):hover {
  background-color: #eaedef;
}
button:nth-child(4) {
  font-size: 25px;
  background-color: #20b2aa;
}
button:nth-child(8) {
  font-size: 25px;
  background-color: #ffa500;
}
button:nth-child(12) {
  font-size: 35px;
  background-color: #f08080;
}
button:nth-child(16) {
  font-size: 25px;
  background-color: #7d93e0;
}
button:nth-child(20) {
  font-size: 25px;
  background-color: #9477af;
}
@media only screen and (max-width: 600px) {
  bodY {
    margin-top: -33px;
  }

  #container {
    width: 100%;
    height: 580px;
    margin: 20px auto;
  }
  #calculator {
    width: 100%;
  }

  .operator,
  .number,
  .empty {
    width: 59px;
    height: 59px;
    margin: 13px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 25px;
  }
}
